---
---
@import './styleguide/styleguide.scss';

// * { border: solid 1px rgba(255,0,0,0.5); }

// context variables
$theme-purple: #523080;
$theme-pink: #6DBEC4;
// $theme-pink: #ff0058;
$theme-green: #0cffe1;
$theme-yellow: #ffd489;

$main-color: $theme-purple;
$accent-color: $theme-green;

$ideas-color: #F2F2F2;
$opinions-color: #7DE2E1;
$expertise-color: #495056;
$actions-color: #E16A5F;
$evidence-color: #FED136;

$progress-color: lighten(#523080, 10);
// $progress-color: #523080;
$progress-inactive: #CCC;

$highlight-color: lighten(#6DBEC4, 25);

// Breakpoints
$small-only-screen: (max-width 40em);
$touch: screen and (max-width: 64em);


@import 'controls';
@import 'company';
@import 'crossbrowser';



// Port these components to styleguide
@import 'card-team';
@import 'timeline';
@import 'table-sortable';
@import 'subscribe';

@import 'company-page';

@import 'custom';
@import 'map';
@import 'sunburst';
@import 'about-page';
@import 'team';
@import 'modal';

select option {
  background: white !important;
  color: black !important;
}