#company-page {



.company-page__header {
  background-color: $theme-purple;
  overflow-x: visible;

  h1 {
    font-size: 2.5rem;
    text-transform: uppercase;    
  }

  h2 {
    margin: 0 0 80px 0;
    font-size: 1.2rem;
    font-weight: bold;
  }

  // h3 span:not(:last-child):after { content: ', '; }

  &__highlight {
    font-weight: 100;
    text-align: left;
  }

  &--left {
    text-align: left;
  }
}

.footer {
  padding-top: 80px;
}
}
