#list-page .top-bar {
  position: relative;
  z-index: 999;
}

.top-section--map {
  h2 {
    margin: 0;
    font-size: 2.5rem;
  }
}

.map-wrapper {
  // margin-top: -230px;
  // margin-bottom: -40px;
  // position: relative;
}

#caption {
  position: absolute;
  bottom: 35px;
  width: 100%;
  text-align: center;

  .map-tooltip {
    color: rgba(white, .6);
    text-transform: uppercase;
    font-weight: 600;

  }
}

#map {
  .path {
    fill: rgba(white, .1);
    stroke:rgba(white, .05);
    stroke-linecap: round;
    stroke-linejoin: round;
  }

  .circle {
    cursor: pointer;
    fill: $theme-pink;
    opacity: .7;
  }

  .pin {
    // cursor: pointer;
    fill: $theme-pink;
    opacity: .7;
  }

  .active { fill: $theme-green; }

  .text {
    fill: rgba(white, .8);
    font-size: 18px;
    transform: translateY(-10px);
    font-weight: 400;
    pointer-events: none;
    visibility: hidden;
  }

}