#list-page > div.modal.modal--catalog-entry.js-target-modal {
    display: none;
    background: #fff;
    position: fixed;
    top: 5%;
    width: 80%;
    height: 90%;
    left: 10%;
    margin: unset;
    box-shadow: unset;
    z-index: 11;
    padding: 40px;
    overflow: hidden;

    @include breakpoint (max-width 1023px) {
        width: 100%;
        height: 95%;
        left: 0;
        top: 100%;
        transition: top 0.4s;
        &.js-transition {
            top: 5%;
        }
    }

    .modal {
        &__close {
            color: $black;
            .material-icons {
                margin-left: 0;
            }
        }
        &__container {
            @include breakpoint(max-width 740px) {
                max-height: 60vh;
                overflow-y: scroll;
            }
        }
        &__name {
            display: inline-block;
            padding: 10px;
            font-size: 2.6rem;
            margin-top: 0;
            margin-bottom: 10px;
            background-color: lighten($theme-pink, 20);
            max-width: 70%;
            @include breakpoint(max-width 740px) {
                max-width: 80%;
                font-size: 1.5rem;
            }
        }
        &__location {
            display: inline-block;
            padding: 10px;
            font-size: 2rem;
            margin-top: 0;
            margin-bottom: 10px;
            background-color: lighten($theme-pink, 20);
            @include breakpoint(max-width 740px) {
                font-size: 1.2rem;
            }
        }
        &__description {
            &__scroll {
                max-height: 280px;
                overflow-y: scroll;
                @include breakpoint(max-width 740px) {
                    max-height: unset;
                    overflow-y: unset;
                }
            }
        }
        &__button {
            margin-top: 20px;
            background-color: rgba(0,0,0,0.04);
            border: dotted 1px rgba(0,0,0,0.1);
            &:hover {
                background-color: rgba(0,0,0,0.1);
            }
        }
        &__image {
            width: 170px;
            height: 170px;
            position: absolute;
            top: 40px;
            right: 104px;
            @include breakpoint(max-width 740px) {
                width: 138px;
                height: 138px;
            }
            @include breakpoint(max-width 639px) {
                display: none;
            }
        }
        &__meta-container {
            padding-right: 15px;
            margin-top: 16px;
            @include breakpoint(max-width 740px) {
                font-size: 12px;
            }
        }
        &__meta {
            display: table-cell;
            background-color: rgba(0,0,0,0.04);
            padding: 45px 10px 10px 10px;
            position: relative;
            text-align: left;
            border: dotted 1px rgba(0,0,0,0.1);
            &--left {
                text-align: left;
            }
            &--right {
                text-align: right;
            }
        }
        &__meta-header {
            position: absolute;
            top: 10px;
            left: 10px;
            color: rgba(0,0,0,0.4);
            font-weight: normal;
        }
        &__meta-content {
            display: inline-block;
            &__icon {
                color: $black;
            }
        }
    }
    .tag {
      display: inline-block;
      text-align: center;
      padding: 1px 5px 0 5px;
      color: $white;
      margin: 2px 0px 2px 2px;
      &__type {
        &--ideas {
          color: $black;
          background-color: $ideas-color;
          border: dotted 1px rgba(0,0,0,0.2);
        }
        &--opinions {
          background-color: $opinions-color;
          border: dotted 1px darken($opinions-color, 10);
        }
        &--expertise {
          background-color: $expertise-color;
          border: dotted 1px darken($expertise-color, 10);
        }
        &--actions {
          background-color: $actions-color;
          border: dotted 1px darken($actions-color, 10);
        }
        &--evidence {
          background-color: $evidence-color;
          border: dotted 1px darken($evidence-color, 10);
        }
      }
      &__progress {
        background-color: $progress-inactive;
        &--active {
          background-color: $progress-color
        }
      }
    }
}