.filter-headings {
  table-layout: fixed;
  th {
    background-color: darken($main-color,2);
    padding: 0;
    position: relative;
  }
  .table-dropdown__item {
    .select {
      margin-bottom: 0;
      margin-right: 9px;
      background-color: darken($main-color,2);
      font-weight: normal;
      padding: 0;
      select {
        background-position: bottom 50% right 15px;
      }
    }
  }
  .filter-label {
    font-size: 1.2em;
    color: #fff;
    margin: 0;
    font-weight: 100;
    position: absolute;
    bottom: 5px;
  }
}

.table-dropdown.page-section {
  padding: 0;
  @include breakpoint(max-width 1050px)  {
  padding: 20px 0;
}
}

.table-sortable {
  // * { border: solid 1px red; }
  @extend .u-table; // Added .u-table to t

  table-layout: fixed;

  th, td {
    font-size: 16px;
  }

  tbody {
    background-color: $white;
  }

  td {
    padding: 15px 5px 15px 0;
    &.icon {
      padding: 15px 0 0 0;
    }
  }

  .js-open-modal {
    cursor: pointer;
  }

  .entry {
    &:hover {
      background-color: $highlight-color;
    }
  }

  .tags {
    text-align: right;
    padding: 15px 10px 15px 0;
    .tag {
      display: inline-block;
      width: 24px;
      height: 24px;
      text-align: center;
      padding: 1px 0 0 0;
      color: $white;
      &__type {
        &--ideas {
          color: $black;
          background-color: $ideas-color;
        }
        &--opinions {
          background-color: $opinions-color;
        }
        &--expertise {
          background-color: $expertise-color;
        }
        &--actions {
          background-color: $actions-color;
        }
        &--evidence {
          background-color: $evidence-color;
        }
      }
      &__progress {
        background-color: $progress-inactive;
        &--active {
          background-color: $progress-color
        }
      }
    }
  }

  tr {
    &:nth-child(odd) {
      background-color: transparentize($theme-pink, 0.9);
    }
    &:nth-child(even) {
      background-color: transparentize($theme-pink, 0.8);
    }
  }

  &__head-cell {
    background-color: darken($main-color, 4);
    padding: 0;
    position: relative;

    > span {
      padding: 15px 0;
      display: inline-block;
    }

    .material-icons {
      color: $white;
    }
  }

  &__control-group {
    position: absolute;
    right: 0;
    top: 0;
  }

  &__control {
    float: left;
    padding: 15px;
    color: rgba($black, .2);

    > i { vertical-align: middle; }

      &:hover { color: $white; }

        &--simple { display: inline-block; }
          &--simple:hover { background-color: rgba($black, .1); }
          }


          &__search {
            position: absolute;
            top: 0;
            right: 68px;
            left: calc(100% - 92px);
            display: flex;
            overflow: hidden;
            transition: all .3s ease;
            max-width: 0;

            &--active {
              left: -15px;
              border-left: 1px solid rgba($white, .4);
              transition: all .3s ease;
              max-width: 100%;
            }

            input[type='text'] {
              flex: 1;
              margin: 0;
              padding: 10px 15px;
              background-color: darken($main-color, 5);
              color: $white;
              @include placeholder { color: $white; }

              &:focus { background-color: darken($main-color, 7); }
              }

              button {
                padding: 15px 15px 13px;
                border-radius: 0;
                background-color: darken($main-color, 8);

                &:hover { background-color: darken($main-color, 10); }

                }
              }


              .company__other-sources,
                .company__data-sectors,
                  .company__federal-sources,
                    .company__provincial-sources {
                      display: none;
                    }
                  }


                  .table-dropdown__item, .table-dropdown {
                    background-color: darken($main-color,2);
                    h4 {
                      font-size: 1.2em;
                      padding: 10px;
                      text-align: center;
                      color: $white;
                      margin:0;
                      font-weight: 100;
                    }
                    > span {
                      color: $white;
                      text-transform: uppercase;
                      padding: 15px 0;
                      display: inline-block;
                    }
                    .filters {
                      display: block;
                    }
                    .mobile-filters {
                      display: none;
                    }
                    @include breakpoint(max-width 1050px)  {
                    color: white;
                    .filters {
                      display: none;
                    }
                    .mobile-filters {
                      display: block;
                    }
                  }
                }
                .table-dropdown__item .select {
                  background-color: $main-color;
                  color: white;
                  padding: 0 10px;
                  &::before {
                    content: 'keyboard_arrow_down';
                      position: absolute;
                      right: 0;
                      padding-top: 10px;
                      margin: 0 auto 0 auto;
                      width: 42px;
                      height: 32px;
                      color: $white;
                      z-index: 1;
                      pointer-events: none;
                    }
                  }


                  .table-dropdown__item .select {
                    background-color: $main-color;
                    color: white;
                    margin-bottom: 25px;
                    margin-right: 10px;
                    &::before { display: none;}
                      select {
                        width: 110%;
                        @include cross-browser-select;
                        @include browser(Firefox) {
                        &:-moz-focusring {
                          width: 100%;
                        }
                      }
                      @include browser(Windows) {
                      -webkit-appearance: none;
                      -moz-appearance: none;
                      // text-indent: 1px;
                      // text-overflow: '';
                      width: 100%;
                      &::-ms-expand {
                        display: none;
                      }
                    }
                  }
                }

                select::-ms-expand {
                  display: none;
                }

                .clear_filters {
                  color: $white;
                }

                .close.clear_filters {
                  @include breakpoint(max-width 1050px) {
                  display: none;
                }
              }
              .button.clear_filters {
                text-align: center;
                display:none;
                @include breakpoint(max-width 1050px) {
                display: inline-block;
              }
            }

            .dropdown-wrapper {
              width: 90%;
              margin: 0 auto;
              position: relative;
              .dropdown {
                max-width: unset;
              }
              .clear_filters {
                position: absolute;
                right: -40px;
                padding: 8px;
                i {
                  margin-top: -5px;
                }
              }
            }

            button .clear_filters {
            }

            #list-page {
              .top-bar {
                background-color: transparent;
              }
            }

            .map-wrapper {
              @include breakpoint($small-only) {
              display: none;
            }
          }

          .company__provinces {
            display: none;
            @include breakpoint($small-only) {
            display: inline-block;
          }
        }