.timeline-boxes {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  position: relative;
  overflow: hidden;
  
  @include breakpoint($small-only-screen) {
    display: block;
  }



  &:before {
    content: "";
    border-bottom: 2px solid rgba($white, .2);
    position: absolute;
    top: 30px;
    right: 0;
    left: 0px;
    @include breakpoint($small-only-screen) {
      display: none;
    }
  }

  &:after {
    content: "";
    border-bottom: 2px solid $white;
    position: absolute;
    top: 30px;
    left: calc(80% + 20px);
    width: 20%;
    transition: all .2s ease-in-out;
    @include breakpoint($small-only-screen) {
      display: none;
    }
  }

  &__item {
    -webkit-flex: 1;
      -ms-flex: 1;
            flex: 1;
    @include browser(Windows) {
      -ms-flex: 0;
      flex: inherit;
      width: 100%;
    }
    list-style-type: none;
    color: rgba($white, .2);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 8%;
    @include browser(Firefox) {
      padding-top: 5rem;
    }
    padding-bottom: 0;
    position: relative;
    transition: all .2s ease-in-out;

    &:hover,
    &--latest,
    &--active-4 li { 
      color: rgba($white, 1); 
      padding-top: 4%;
      padding-bottom: 5%;
      @include breakpoint($small-only-screen) {
        padding-top: 9%;
        &:before {
          border-bottom: 2px solid $accent-color !important;
        }
      }
      @include browser(Firefox) {
        padding-top: 2rem;
        @include breakpoint($small-only-screen) {
          padding-top: 3rem;
        }
      }
      @include browser(Windows) {
        padding-top: 2.5rem;
        @include breakpoint($small-only-screen) {
          padding-top: 3rem;
        }
      }
    }

    &:before {
      content: attr(data-date);
      font-size: 1.3rem;
      font-weight: bold;
      color: $white;
      position: absolute;
      top: 0;
      padding: 0 10px;
      margin-left: -10px;
      @include breakpoint($small-only-screen) {
        border-bottom: 2px solid rgba($white, .2);
        transition: all .4s ease-in-out;
        width: 100%;
      }
    }
  }

  &--active-0:after { left: 20px; }
  &--active-1:after { left: calc(20% + 20px); }
  &--active-2:after { left: calc(40% + 20px); }
  &--active-3:after { left: calc(60% + 20px); }
  &--active-4:after { left: calc(80% + 20px); }
}