<!DOCTYPE html>
<html lang="{{ site.lang }}">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{{ page.page_title }}</title>

    <meta property="og:title" content="{{site.title}}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{site.url}}{{site.baseurl}}{{page.url}}" />
    <meta property="og:image" content="{{'/img/crowdlaw-flat-mono.png' | relative_url}}" />
    <meta property="og:description" content="{{site.description}}"/>

    <link rel="icon" type="image/png" href="{{'/img/icon.png' | relative_url}}">
    <link rel="apple-touch-icon" type="image/png" href="{{'/img/icon.png' | relative_url}}">
    <link rel="icon" sizes="144x144" href="{{'/img/icon.png' | relative_url}}">
    <link rel="stylesheet" href="{{'/scripts/foundation.min.css' | relative_url}}"/>
    <link rel="stylesheet" href="{{'/scripts/slick.css' | relative_url }}"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{{'/css/custom-styles.css' | relative_url}}"/>
    <script src="https://use.typekit.net/mvc3cdb.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
    <script src="{{'/scripts/jquery-2.1.4.min.js' | relative_url}}"></script>
    <script src="{{'/scripts/slick.min.js' | relative_url}}"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.2.0/list.min.js"></script>
    <script src="https://d3js.org/d3.v3.min.js"></script>
    <script src="https://d3js.org/topojson.v1.min.js"></script>
    <script src="{{'/vendor/contentful.browser.min.js' | relative_url}}" type="text/javascript"></script>
    <script src="{{'/vendor/jquery.ba-throttle-debounce.js' | relative_url}}" type="text/javascript"></script>

    <script src="{{'/scripts/scripts.js' | relative_url}}"></script>


    <link rel="apple-touch-icon" sizes="180x180" href="{{'/apple-touch-icon.png' | relative_url}}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{'/favicon-32x32.png' | relative_url}}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{'/favicon-16x16.png' | relative_url}}">
    <link rel="mask-icon" href="{{'/safari-pinned-tab.svg' | relative_url}}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-40012093-20"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', '');
    </script>

</head>


<body id="{{ page.page_id }}">
    <header class="top-bar top-bar--transparent">
        <span class="top-bar__button top-bar--transparent  js-trigger-menu">menu</span>
        <nav class="main-menu js-target-menu main-menu--left">
          <a href="//crowd.law" target="_blank">Crowd.law</a>
          <a href="//catalog.crowd.law" target="_blank">Crowdlaw Catalog</a>
          <a href="mailto:crowdlaw@thegovlab.org" target="_blank">Contact Us <i class="material-icons" style="padding-left: 10px; vertical-align: middle; transform: translateY(-2px);">email</i></a>
      </nav>

      <a class="top-bar__logo" href="{{ '/index.html' | relative_url }}"><img src="{{ '/img/govlab-logo-white.png' | relative_url}}" alt="The GovLab"></a>


      <div class='lang-select'>
          {% capture en_link %}{{ site.baseurl_root }}{{ page.url }}{% endcapture %}
          {% capture es_link %}{{ site.baseurl_root }}/es{{ page.url }}{% endcapture %}
          {% if site.lang == "en" %}
          <a class="lang_select-active" href="{{ en_link }}">English</a>  | <a href="{{ es_link }}" >Español</a>
          {% elsif site.lang == "es" %}
          <a href="{{ en_link }}">English</a>  | <a class="lang_select-active" href="{{ es_link }}" >Español</a>
          {% endif %}
      </div>

  </header>

  {{ content }}

<div class="copyright">
    <div class="row align-center">
        <div class="large-10 large-centered columns">
            <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img class="copyright__cc-badge" alt="Creative Commons License" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" /></a>
            This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>.
        </div>
    </div>
</div>


<div id="overlay" class="js-overlay"></div>
</body>
</html>
